.ilustra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 30px 0 30px;
    cursor: pointer;
    
}

/* ------------------------------------------------  RESPONSIVO ------------------------------------------------- */

