@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.image_cabecalho {
    transition: transform 1s;
}

.image_cabecalho:hover {
    transform:  rotate(0.01turn);
    cursor: pointer;
}

.botoes_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    padding: 5px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    left: -366px;
}

.botoes_menu li {
    list-style: none;
    padding: 0 40px;
    
}

.botoes_menu li a {
    text-decoration: none;
    font-size: 16px;
    
}

.menu-btn {
    margin: 10px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    width: 120px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #ff44e2 0%, #348AC7 51%, #ff44e2 100%);
    border: 3px solid #2a3e58;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    
    
}
.menu-btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
    background-position: right center;
}

.frontend .frontend-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 30px 0 30px;
    cursor: pointer;
    
}

.box_front {
    border: 3px solid #2a3e58;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s ease-in;
}

.box_front:hover{
    background-image: url("../img/base.png");
    
}

.box_front img {
    border-radius: 10px;
}

.box_front h3 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    color: #2a3e58;
}

.box_front:hover h3{
    color: #FFF
    
}

.btn-front{
    left: 120px;
}

.pagination-port {
    margin: -40px 30px 0 30px;
    display: flex;
    justify-content: right;
    
}

.old__btn-port {
    font-weight: 800;
    text-shadow: none;
    letter-spacing: 1px;
    border: 2px solid #348AC7;
    border-radius: 20px;
    padding: 7px 20px 6px 20px;
    transition: 0.2s ease-in;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
}

.old__btn-port:hover {
    background-color:#348AC7;
    color:#fff;
}

.divider__final-port {
    width: 98%;
    border-top: 3px solid #2a3e58;
    margin-left: 20px;
    margin-top: 10px;

}

.copyright-port {
    font: inherit;
    font-size: 20px;
    color: #ff44e2;
    display: flex;
    justify-content: right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-right: 30px;
    margin-top: 10px;
    
}

.nome {
    color:#ff44e2;
    
}

.nome:hover {
    color:#348AC7;
}

.social-port{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-left: -10px;
    padding: 10px;
}

.fa-brands {
    
    padding: 15px;
    color: #00bae3;
    font-size: 20px;
    transition: 1s;
    
}

.fa-brands:hover{
    color: #ff44e2;
    box-shadow: inset 0 0 0 3px #00bae3;
}

.fa-linkedin-in{
    background-color: #2a3e58;
    border-radius: 50%;
    margin-left: 54px;
}

.fa-tiktok{
    background-color: #2a3e58;
    border-radius: 50%;
}

.fa-whatsapp{
    background-color: #2a3e58;
    border-radius: 50%;
    margin-right: 50px;
}

.tiktok-port {
    margin: 0 30px 0 30px;
}

/* ------------------------------------------------  RESPONSIVO ------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 320px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 300px;
        margin-left: -78px;
        padding: 1px 1px;
        margin-top: -197px;
    }
    
    .botoes_menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 210px;
        margin-top: 129px;                             
    }

    .botoes_menu li a{
        width: 120px;
    }

    .bloco {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 11px;
        margin-left: 2px;
    }

    .box_front{
        width: 220px;
        margin-top: 20px;
    
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px 30px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        font-size: 14px;
        margin-left: 33px;
        display: flex;
        justify-content: center;
        
    }

    .divider__final-port {
        width: 85%;
    }

    .social-port {
        margin-top: 19px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 332px;
        margin-left: -64px;
        padding: 1px 1px;
        margin-top: -197px;
    }
    
    .botoes_menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 221px;
        margin-top: 145px;                           
    }

    .botoes_menu li a{
        width: 150px;
    }

    .bloco {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 11px;
        margin-left: -3px;
    }

    .box_front{
        width: 290px;
        margin-top: 20px;
    
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -7px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-left: 22px;
        
    }

    .social-port {
        margin-top: 21px;
        margin-left: 17px;
    }

    .divider__final-port {
        width: 75%;
        margin-left: 45px;
    }

    .old__btn-port {
        margin-left: -43px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 373px;
        margin-left: -58px;
        padding: 1px 1px;
        margin-top: -197px;
    }
    
    .botoes_menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 234px;
        margin-top: 145px;                           
    }

    .botoes_menu li a{
        width: 165px;
    }

    .bloco {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 11px;
        margin-left: -3px;
    }

    .box_front{
        width: 357px;
        margin-top: 20px;
    
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -7px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-left: 22px;
        
    }

    .social-port {
        margin-top: 21px;
        margin-left: 48px;
    }

    .divider__final-port {
        width: 75%;
        margin-left: 45px;
    }

    .old__btn-port {
        margin-left: -43px;
    }
    

}
@media screen and (min-width: 426px) and (max-width: 769px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 373px;
        margin-left: 121px;
        padding: 1px 1px;
        margin-top: -101px;
    }
    
    .botoes_menu {
        position: relative;
        margin-left: 197px;
        margin-top: 145px;                           
    }

    .botoes_menu li{
        width: 165px;
        padding: 0 1px;
        margin-left: -15px;
    }

    .botoes_menu li a{
        width: 105px;
    }

    .bloco {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 11px;
        margin-left: -3px;
    }

    .box_front{
        width: 667px;
        margin-top: 20px;
    
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -46px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        display: flex;
        justify-content: center;
        margin-left: 45px;
        
    }

    .social-port {
        margin-top: 21px;
        margin-left: 233px;
    }

    .divider__final-port {
        width: 75%;
        margin-left: 103px;
    }

    .old__btn-port {
        margin-left: -43px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 387px;
        margin-left: 224px;
        padding: 1px 1px;
        margin-top: -101px;
    }
    
    .botoes_menu {
        position: relative;
        margin-left: 281px;
        margin-top: 145px;                           
    }

    .botoes_menu li{
        width: 165px;
        padding: 0 1px;
        margin-left: -15px;
    }

    .botoes_menu li a{
        width: 105px;
    }

    .bloco {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 11px;
        margin-left: -3px;
    }

    .frontend {
        margin-left: 20px;
    }

    .frontend-2 {
        margin-right: 20px;
    }

    .box_front{
        width: 457px;
        margin-top: 20px;
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -46px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        display: flex;
        justify-content: center;
        margin-left: 45px;
        
    }

    .social-port {
        margin-top: 21px;
        margin-left: 347px;
    }

    .divider__final-port {
        width: 75%;
        margin-left: 103px;
    }

    .old__btn-port {
        margin-left: -75px;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .cabecalho{
        width: 100%;
        
    }

    .image_cabecalho img{
        position: absolute;
        width: 400px;
        margin-left: -60px;
        padding: 1px 1px;
        margin-top: -81px;
    }
    
    .botoes_menu {
        position: relative;
        margin-left: 563px;
        margin-top: 93px;                         
    }

    .botoes_menu li{
        width: 165px;
        padding: 0 1px;
        margin-left: -15px;
    }

    .botoes_menu li a{
        width: 105px;
    }

    .bloco {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 11px;
    }

    .frontend {
        margin-left: 35px;
    }

    .frontend-2 {
        margin-right: 35px;
    }

    .box_front{
        width: 650px;
        margin-top: 20px;
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -46px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        display: flex;
        justify-content: center;
        margin-left: 45px;
        
    }

    .social-port {
        margin-top: 21px;
        margin-left: 558px;
    }

    .divider__final-port {
        width: 75%;
        margin-left: 103px;
    }

    .old__btn-port {
        margin-left: -75px;
    }
}

@media screen and (min-width: 1410px) and (max-width: 2560px) {
    .bloco {
        margin: 40px;
    }

    .frontend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .frontend-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .box_front{
        width: 560px;
        margin-top: 20px;
    }

    .box_front img {
        width: 100%;
    }

    .pagination-port {
        margin: 10px -46px 0 30px;
        display: flex;
        justify-content: center;
    }

    .copyright-port {
        display: flex;
        justify-content: center;
        margin-left: 45px;
        
    }

    .social-port {
        margin-top: 28px;
        margin-left: 69px;
    }

    .divider__final-port {
        width: 90%;
        margin-left: 115px;
    }

    .old__btn-port {
        margin-left: 2095px;
        margin-top: -38px;
    }
}